@page "/testpage"
@rendermode InteractiveServer
@using Blazor8Server20240807.Components.Controls

<h3>TestPage</h3>

<div>

</div>
<MyButton ButtonText="我是按鈕" ButtonNum="btn1"></MyButton>
<MyButton ButtonText="我是按鈕" ButtonNum="btn2"></MyButton>
<MyButton ButtonText="我是按鈕" ButtonNum="btn3"></MyButton>
<MyButton ButtonText="我是按鈕" ButtonNum="btn4"></MyButton>

<MyButton3 ButtonText="我是另一個按鈕"></MyButton3>

@code {

}
