<table class="table table-dark table-striped">
    <thead>
        <tr>
            @ChildContent
        </tr>
    </thead>
    <tbody>
        @if (DataSource != null)
        {
            foreach (var item in DataSource)
            {
                <tr>
                    @foreach (var prop in item.GetType().GetProperties())
                    {
                        <td>@prop.GetValue(item)</td>
                    }
                </tr>
            }
        }
    </tbody>
</table>

@code {

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public List<object>? DataSource { get; set; }
}
